<!DOCTYPE>
<html>
  <head>
    <title>Изберете удобен ден</title>

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/vendor/pickadate/lib/themes/classic.css" />
    <link rel="stylesheet" href="/vendor/pickadate/lib/themes/classic.date.css" />

    <style>
      body {
        margin: 0;
      }
      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>

    <input id="day_picker" class="hidden" type="text" />

    <script type="" src="/vendor/jquery/dist/jquery.min.js"></script>
    <script type="" src="/vendor/pickadate/lib/picker.js"></script>
    <script type="" src="/vendor/pickadate/lib/picker.date.js"></script>

    <script "text/javascript">
      $(document).ready(function() {
        var response = {};

        window.extAsyncInit = function() {
          MessengerExtensions.getUserID(function success(uids) {
            var psid = uids.psid;

            response.clientId = psid;
          }, function error(err) {

          });
        };

        $('#day_picker').pickadate({
          onSet: function(context) {
            response.text = $('#day_picker').val()

            MessengerExtensions.requestCloseBrowser(function success() {
              $.ajax({
                method: 'POST',
                url: '/api/oracle/predict',
                data: response
              });
            }, function error(err) {

            });
          },
          monthsFull: ['Януари', 'Февруари', 'Март', 'Април', 'Май', 'Юни', 'Юли', 'Август', 'Септември', 'Октомври', 'Ноември', 'Декември'],
          weekdaysShort: ['Нед', 'Пон', 'Вто', 'Сря', 'Чет', 'Пет', 'Съб'],
          today: '',
          clear: '',
          close: '',
          format: 'mm/dd/yyyy',
        });

        $('#day_picker').click();
      }
    );

    </script>

    <script>
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
    </script>
  </body>
</html>
