<!DOCTYPE>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MN8W74G');</script>
    <!-- End Google Tag Manager -->

    <title>Изберете удобен ден</title>

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/vendor/pickadate/lib/themes/default.css" />
    <link rel="stylesheet" href="/vendor/pickadate/lib/themes/default.date.css" />

    <style>
      body {
        margin: 0;
      }

      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>
      <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MN8W74G"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    <input id="day-picker" class="hidden" type="text" />

    <script type="" src="/vendor/jquery/dist/jquery.min.js"></script>
    <script type="" src="/vendor/moment/min/moment.min.js"></script>
    <script type="" src="/vendor/pickadate/lib/picker.js"></script>
    <script type="" src="/vendor/pickadate/lib/picker.date.js"></script>

    <script "text/javascript">
      $(document).ready(function() {

      });

      window.extAsyncInit = function() {
        MessengerExtensions.getUserID(function success(uids) {
          var fbUserId = uids.psid;

          $.ajax({
            url: '/suggestions/' + encodeURIComponent(fbUserId)
          })
          .done(function(reservedDays) {
            var days = [];

            for(var i = 0; i < reservedDays.length; ++i) {
              days.push(new Date(reservedDays[i]));
            }

            var now = new Date();
            var plus2Months = new Date(moment(now).add(2, 'months').format('YYYY-MM-DD'));

            $('#day-picker').pickadate({
              onSet: function(context) {
                if (context.select) {
                  dataLayer.push({'event': 'day.selected'});

                  MessengerExtensions.requestCloseBrowser(function success() {
                    $.ajax({
                      url: '/predictions/' + encodeURIComponent(fbUserId),
                      method: 'POST',
                      data: {
                        text: $('#day-picker').val()
                      }
                    });
                  });
                }
              },
              monthsFull: ['Януари', 'Февруари', 'Март', 'Април', 'Май', 'Юни', 'Юли', 'Август', 'Септември', 'Октомври', 'Ноември', 'Декември'],
              weekdaysShort: ['Нед', 'Пон', 'Вто', 'Сря', 'Чет', 'Пет', 'Съб'],
              today: '',
              clear: '',
              close: '',
              format: 'yyyy-mm-dd',
              min: now,
              max: plus2Months,
              disable: days
            });

            $('#day-picker').click();
          })
          .fail(function(err) {

          });
        });
      }

    </script>

    <script>
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
    </script>
  </body>
</html>
