<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css" />

    <style>
      body {
        font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif !importants;
        background-color: #fcfcfc;
      }

      h1, h2, h3 {
        font-weight: 400;
      }

      .navbar {
        height: 66px !important;
        box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.08) !important;
      }

      .navbar-default {
        background-color: white !important;
      }

      .logo {
        font-weight: 200;
        font-size: 18px;
        color: #90949C;

        -webkit-transition: opacity 0.2s ease;
        -moz-transition: opacity 0.2s ease;
        -ms-transition: opacity 0.2s ease;
        -o-transition: opacity 0.2s ease;
        transition: opacity 0.2s ease;
      }

      .navbar-default a {
        font: inherit;
        color: inherit;
      }

      a, a:hover, a:active, a:visited {
        text-decoration: none !important;
      }

      .logo:hover {
        opacity: 0.5;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
          <div class="col-md-2 logo">
            <a href="#">
              <img id="brand-icon" src="/images/logo.png" width=55 height=55 />
              <span id="employee-name">Sophy</span>
            </div>
          </a>
      </div>
    </nav>

    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <h2>Мобилно приложение</h2>
        <p>За да преминете на следващата стъпка в процеса по запазване на час, влезте в мобилното приложение на FB Messenger.</p>

        <p>Ако все още не ви е инсталирано на телефона, можете да го свалите от <a href="https://play.google.com/store/apps/details?id=com.facebook.orca&hl=en">Android</a> или <a href="https://itunes.apple.com/us/app/messenger/id454638411?mt=8">iOS</a> маркета.</p>
      </div>
    </div>
  </body>
</html>
