<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css" />

    <style>
      body {
        font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif !important;
      }

      h1, h2, h3 {
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
          <div class="col-md-6 col-md-offset-5">
            <img src="/images/github.png" width=50 height=50 />
          </div>
      </div>
    </nav>

    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <h2>Мобилно приложение</h2>
        <p>За да преминете на следващата стъпка в процеса по запазване на час, влезте в мобилното приложение на FB Messenger.</p>

        <p>Ако все още не ви е инсталирано на телефона, можете да го свалите от <a href="https://play.google.com/store/apps/details?id=com.facebook.orca&hl=en">Android</a> или <a href="https://itunes.apple.com/us/app/messenger/id454638411?mt=8">iOS</a> маркета.</p>
      </div>
    </div>
  </body>
</html>
