<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/vendor/pickadate/lib/themes/default.css" />
    <link rel="stylesheet" href="/vendor/pickadate/lib/themes/default.time.css" />

    <style>
      h1, h2, h3 {
        font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif !important;
        font-weight: 400;
      }

    </style>
  </head>
  <body>
    <!-- <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">

        </div>
      </div>
    </nav> -->

    <nav class="navbar navbar-default">
      <div class="container">
          <div class="col-md-6 col-md-offset-5">
            <img src="/images/github.png" width=50 height=50/>
          </div>
      </div>
    </nav>

    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <h2>Получете видимост и контрол</h2>
        <p>Uber for Business помага на вашата фирма да управлява по-лесно и ефективно пътуванията с Uber и разписките на служителите. Вижте къде, кога и как пътува вашият екип.</p>

        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="time-picker" placeholder="Натиснете полетo за избиране на дата">
          </div>

          <div>
            <div id="success-message" class="alert alert-success hidden" role="alert"></div>
          </div>
        </form>
      </div>
    </div>

    <script type="" src="/vendor/jquery/dist/jquery.min.js"></script>
    <script type="" src="/vendor/moment/min/moment.min.js"></script>
    <script type="" src="/vendor/pickadate/lib/picker.js"></script>
    <script type="" src="/vendor/pickadate/lib/picker.time.js"></script>
    <script type="" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <script>
      var fbUser = 1213342445381976;

      function successMessage(pageLink, dentistName) {
        return 'Успешно избран час! Натиснете <a href="' + pageLink + '" class="alert-link">тук</a>, за да се върнете в чата на страницата на ' + dentistName + ' и да завършите процедурата по запазване на час.';
      }


      window.extAsyncInit = function() {
        var isSupported = MessengerExtensions.isInExtension();
        MessengerExtensions.getUserID(function success(uids) {
          var psid = uids.psid;
          console.log(psid);
          
        }, function error(err) {
          console.log(err);
        });
      };

      // MessengerExtensions.getUserID(function success(uids) {
      //   var fbUser = uids.psid;
      //
      //   alert(fbUser);
      //
      //   $.ajax({
      //     url: '/conversations/' + encodeURIComponent(fbUser)
      //   })
      //   .done(function(conversation) {
      //     if (conversation) {
      //       $('#employee-name').text(conversation.dentist.name);
      //
      //       $('#time-picker').pickatime({
      //         onSet: function(context) {
      //           if (context.select) {
      //             var hour = $('#time-picker').val();
      //
      //             console.log(hour);
      //
      //             $('#success-message').removeClass('hidden');
      //             $('#success-message').html(successMessage(conversation.page.chatLink, conversation.dentist.name));
      //
      //             $.ajax({
      //               url: '/predictions/' + encodeURIComponent(fbUser),
      //               method: 'POST',
      //               data: {
      //                 text: hour
      //               }
      //             });
      //           }
      //         },
      //         min: "09:00",
      //         max: "18:00",
      //         clear: '',
      //         interval: 15,
      //         format: 'HH:i',
      //         formatLabel: '<b>HH</b>:i'
      //       });
      //     }
      //   });
      // });

    </script>

    <script>
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
    </script>
  </body>
</html>
