<!DOCTYPE>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MN8W74G');</script>
    <!-- End Google Tag Manager -->

    <title>Изберете удобен час</title>

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/vendor/pickadate/lib/themes/default.css" />
    <link rel="stylesheet" href="/vendor/pickadate/lib/themes/default.time.css" />

    <style>
      body {
        margin: 0;
      }

      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MN8W74G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <input id="time-picker" class="hidden" type="text" />

    <script type="" src="/vendor/jquery/dist/jquery.min.js"></script>
    <script type="" src="/vendor/pickadate/lib/picker.js"></script>
    <script type="" src="/vendor/pickadate/lib/picker.time.js"></script>

    <script "text/javascript">

      $(document).ready(function() {

      });

      window.extAsyncInit = function() {
        MessengerExtensions.getUserID(function success(uids) {
          var fbUserId = uids.psid;

          $.ajax({
            url: '/conversations/' + encodeURIComponent(fbUserId)
          })
          .done(function(context) {
            if (context) {
              $('#time-picker').pickatime({
                onSet: function(context) {
                  MessengerExtensions.requestCloseBrowser(function success() {
                    $.ajax({
                      url: '/predictions/' + encodeURIComponent(fbUserId),
                      method: 'POST',
                      data: {
                        text: $('#time-picker').val()
                      }
                    });
                  }, function error(err) {

                  });
                },
                min: new Date('12-31-2016 ' + context.dentist.workingTime.start),
                max: new Date('12-31-2016 ' + context.dentist.workingTime.end),
                clear: '',
                interval: 15,
                format: 'HH:i',
                formatLabel: '<b>HH</b>:i'
              });

              $('#time-picker').click();
            }
          });

        }, function error(err) {

        });
      };
    </script>

    <script>
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
    </script>
  </body>
</html>
