<!DOCTYPE>
<html>
  <head>
    <title>Изберете удобен час</title>

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/vendor/pickadate/lib/themes/classic.css" />
    <link rel="stylesheet" href="/css/picker/classic.time.css" />

    <style>
      body {
        margin: 0;
      }

      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    <input id="time_picker" class="hidden" type="text" />

    <script type="" src="/vendor/jquery/dist/jquery.min.js"></script>
    <script type="" src="/vendor/pickadate/lib/picker.js"></script>
    <script type="" src="/vendor/pickadate/lib/picker.time.js"></script>

    <script "text/javascript">

      $(document).ready(function() {
        $('#time_picker').pickatime({
          onSet: function(context) {
            MessengerExtensions.requestCloseBrowser(function success() {
              $.ajax({
                url: '/predictions/' + encodeURIComponent(response.id),
                method: 'POST',
                data: {
                  text: $('#time_picker').val()
                }
              });
            }, function error(err) {

            });
          },
          min: '09:00',
          max: '18:00',
          clear: '',
          interval: 15,
          format: 'HH:i',
          formatLabel: '<b>HH</b>:i'
        });

        $('#time_picker').click();
      });

      window.extAsyncInit = function() {
        var response = {};

        MessengerExtensions.getUserID(function success(uids) {
          response.id = uids.psid;

          $.ajax({
            url: '/conversations/' + encodeURIComponent(response.id)
          })
          .done(function(context) {

            $('#time_picker').pickatime({
              onSet: function(context) {
                MessengerExtensions.requestCloseBrowser(function success() {
                  $.ajax({
                    url: '/predictions/' + encodeURIComponent(response.id),
                    method: 'POST',
                    data: {
                      text: $('#time_picker').val()
                    }
                  });
                }, function error(err) {

                });
              },
              min: new Date('12-31-2016 ' + context.dentist.workingTime.start),
              max: new Date('12-31-2016 ' + context.dentist.workingTime.end),
              clear: '',
              interval: 15,
              format: 'HH:i',
              formatLabel: '<b>HH</b>:i'
            });

            $('#time_picker').click();
          });

        }, function error(err) {

        });
      };
    </script>

    <script>
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
    </script>
  </body>
</html>
